/*
*
* ==========================================
* CUSTOM OVERRIDES
* ==========================================
*
*/



/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

body {
    background-color: transparent;
    /* background-image: linear-gradient(140deg, #f2bba7 10%, #f07197 25%, #ed4587 40%, #7f65a0 75%, #654d92 89%, #483f76 95%);
    background-image: linear-gradient(140deg, #f5f5f5 10%, #cecece 35%, #a5a5a5 70%, #838383 95%); */
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.c-bg-transparent {
    background-color: transparent;
}

.navbar { 
    background-color: rgb(255,255,255, 0.5);
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.scrolled { 
    background-color: rgb(255,255,255, 1);
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

ol.carousel-indicators li {
    width: 45px;
    height: 9px;
}

.carousel-content {
    position: absolute;
    right: 15%;
    top: 20%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    height: 70vh;
}

.carousel-caption {
    color: white;
}

.carousel-inner > .carousel-item {
    height: 100vh;
}

.carousel-cta .btn {
    color: rgb(255, 255, 255, 1);
    border-color: rgb(255, 255, 255, 1);
    background-color: rgb(0, 0, 0, 0.3);
    margin: 0.5rem 1rem;
}

.carousel-cta .btn:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

.carousel-cta .card {
    background-color: rgb(0, 0, 0, 0.3);
    border: 1px solid white;
}

.carousel-cta .card:hover {
    background-color: rgb(0, 0, 0, 0.8);
}


.carousel-cta .card-footer {
    border-top: 0px;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.blockquote mark {
    line-height: 1.6;
}

.section {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.section .section-head {
    margin-bottom: 3rem;
}

.section-hilight .display-3 {
    -webkit-text-stroke: 1px rgba(231, 231, 231, 0.1);
}

.section-works .card-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}

.section-works .card:hover,
.section-blogs .card:hover {
    border: 1px solid black;
    border-radius: 5px;
}



@media only screen and (max-width: 34em) { 
	.section .section-head p {
        font-size: 3rem;
    }

    footer .footer-copyright {
        font-size: 0.7rem;
    }
}

footer {
    background-color: #fafafa;
}

footer .footer-copyright {
    background-color: rgb(180, 180, 180, 0.3);
}

footer a {
    color: #000;
    text-decoration: none;
    border-bottom: 0px dotted black;
}

footer a:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted black;
}


/*==================================================
 * Effect 1
 * ===============================================*/
 .effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.effect1a{
            box-shadow: 0 -10px 6px -6px #777, 0 10px 6px -6px #777;
}

.effect1b{
    box-shadow: 0 -10px 6px -6px #777;
}


/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * Effect 3
 * ===============================================*/
.effect3
{
  position: relative;
}
.effect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/*==================================================
 * Effect 4
 * ===============================================*/
.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

/*==================================================
 * Effect 5
 * ===============================================*/
.effect5
{
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.effect5:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}



.engraved {
    font-family: 'Playfair Display', serif;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
}


.embossed-2 {
    /* mix-blend-mode: multiply; */
    color: white;
    font-family: 'Playfair Display', serif;
    text-shadow: 5px 4px 11px rgb(0,0,0), 0 2px 5px rgb(0,0,0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.embossed{
  color: #f0f0f0;
  /* font-size: 100px; */
  font-family: 'Playfair Display', serif;
  background-color: #666666;
  text-shadow: 1px 2px 2px #555;
  text-align: center;
  -webkit-background-clip: text;
    -moz-background-clip: text;
}

.carved-box {
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* Contact page specific */

.font-sf {
    font-family: 'Playfair Display', serif;
}

.font-ss {
    /* font-family: 'Playfair Display', serif; */
}



.page {
    margin-top: 10vh;
}


.section-mission #mission-holder,
.section-profile #profile-holder {
    padding: 2px;
    border: 1px solid black;
}

.section-mission #mission-holder div.row p.jumbo-text {
    background: url("/static/image/c20.jpg");
    background-size: cover;
}

.section-profile #profile-holder div.row p.jumbo-text {
    background: url("/static/image/c22.jpg");
    background-size: cover;
}

.page.section a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted black;
}

.page.section a:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.section-contact #form-holder {
    padding: 2px;
    border: 1px solid black;
}

.section-contact form {
    padding-top: 5vh;
    background: url("/static/image/c18.jpg");
    background-size: cover;
}

.section-contact form input, .section-contact form textarea {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}